/*
	This file holds our block styling
*/


/* Display each row as a flexbox */
.blockRow {
	display: flex;
}

/* Add borders between blocks */
.blockRow:first-child .block {
	border-top: 1px solid black;
}

.block:first-child {
	border-left: 1px solid black;
}

.block {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

/* Each block should be a 1vw x 1vw square, displayed as a flexbox, with items
	and content centered */
.block {
	width: 1vw;
	height: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Each flag or bomb should hav 70% width, 100% height, and red color */
.block .flag, .block .bomb {
	width: 70%;
	height: 100%;
	color: red;
}

/* Each cleared block should have light gray background color */
.block.clear {
	background-color: lightgray;
}

/* Set font color based on amount of mines close to block */
.block.clear[data-count="1"] {
	color: blue;
}

.block.clear[data-count="2"] {
	color: green;
}

.block.clear[data-count="3"] {
	color: red;
}

.block.clear[data-count="4"] {
	color: purple;
}

.block.clear[data-count="5"] {
	color: maroon;
}

.block.clear[data-count="6"] {
	color: turquoise;
}

.block.clear[data-count="7"] {
	color: black;
}

.block.clear[data-count="8"] {
	color: gray;
}
