@import 'https://fonts.googleapis.com/css?family=Orbitron&text=0123456789';

body {
	margin: 0;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: scale(2);
}

.info {
	display: flex;
	flex: 1;
	width: 100%;
	align-items: center;
}

.info > svg {
	width: 1.5vw;
}

.info .time, .info .flags {
	flex: 1;
	display: flex;
	font-family: 'Orbitron', sans-serif;
}

.info .time {
	justify-content: flex-end;
}

.board {
	margin-top: .5vw;
}